.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
include/gcp/*
dags/.env

profiles.yml
dbt_env/
metabase.db
metabase.db.mv.db
metabase.db.trace.db
note.md