# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-google==19.1.0
python-dotenv==1.2.1
astronomer-cosmos[dbt-bigquery]==1.11.3
protobuf==6.33.2
ipykernel==7.1.0
pandas==2.3.3
beautifulsoup4==4.14.3